{% extends 'base.html' %} {% load static %} {% block content %}
<div class="w-[60vw] h-fit border-black border-2 flex flex-col p-5 space-y-5">
  <form
    onsubmit="{event.preventDefault(); handleSearch()}"
    id="input-row"
    class="flex flex-row w-full justify-around space-x-5"
  >
    <div class="p-2 bg-white border-2 border-black grow">
      <p>List Pesanan</p>
    </div>
    <select
      name="status"
      id="status-dropdown"
      class="cursor-pointer p-2 bg-white border-2 border-black min-w-56"
    >
      <option value="" selected hidden>Status</option>
    </select>
    <button
      type="submit"
      class="border-2 border-black p-2 hover:bg-neutral-100"
    >
      Search
    </button>
  </form>
  <div
    id="results"
    class="grow border-2 border-black h-[60vh] overflow-y-scroll space-y-5 p-5"
  >
    <template id="result-template">
      <div
        class="w-full flex flex-row items-center justify-between p-5 border-2 border-black"
      >
        <div class="grow-[2] flex flex-col">
          <div id="row-1" class="flex flex-row space-x-5">
            <p
              id="subkategori-pesanan"
              class="w-1/2 overflow-hidden text-ellipsis text-left border-r-2 border-black"
            ></p>
            <p id="nama-pelanggan" class="grow text-left"></p>
          </div>
          <div id="row-2" class="flex flex-row space-x-5">
            <p class="w-1/2 text-left">
              Tanggal Pemesanan: <span id="tanggal-pemesanan"></span>
            </p>
            <p class="grow text-left">
              Tanggal Pekerjaan: <span id="tanggal-pekerjaan"></span>
            </p>
          </div>
        </div>
        <p id="biaya" class="grow-[1] text-center"></p>
        <div class="grow-[1] flex flex-col justify-center items-end">
          <p id="status-pemesanan"></p>
          <button class="border-2 border-black p-2">Update Status</button>
        </div>
      </div>
    </template>
  </div>
</div>

<template id="option-template">
  <option value=""></option>
</template>
{% endblock content %}
