<!DOCTYPE html>
<html>
<head>
    <title>Pemesanan Jasa Saya</title>
</head>
<body>
    <h1>Pemesanan Jasa Saya</h1>
    <ul>
        {% for pemesanan in pemesanan_jasa %}
            <li>
                <strong>ID:</strong> {{ pemesanan.id }} <br>
                <strong>Tanggal Pemesanan:</strong> {{ pemesanan.tgl_pemesanan.date }} <br>
                <strong>Tanggal Pekerjaan:</strong> {{ pemesanan.tgl_pekerjaan.date }} <br>
                <strong>Total Biaya:</strong> Rp {{ pemesanan.total_biaya }} <br>
                <strong>Status:</strong> 
                {% for status in DUMMY_STATUS_PESANAN %}
                    {% if status.id == tr_pemesanan_status.id_status %}
                        {{ status.keterangan }}
                    {% endif %}
                {% endfor %} <br>
                {% if pemesanan.id in testimoni_terkait %}
                    <a href="#">Buat Testimoni</a> <br>
                {% endif %}
                {% if pemesanan.status_keterangan in "Menunggu Pembayaran Mencari Pekerja Terdekat" %}
                    <form method="POST" action="{% url 'batalkan_pemesanan_jasa' pemesanan_id=pemesanan.id %}">
                        {% csrf_token %}
                        <button type="submit">Batalkan Pemesanan</button>
                    </form>
                {% endif %}
            </li>
            <hr>
        {% empty %}
            <li>Anda belum melakukan pemesanan jasa.</li>
        {% endfor %}
    </ul>
</body>
</html>