{% extends 'base.html' %} {% load static %} {% block meta %}
<link rel="stylesheet" href="{% static 'mypay/css/style.css' %}" />
{% endblock meta %} {% block content %}
<div class="flex flex-col items-center justify-center">
  <div class="h-[60vh] w-[60vw] flex flex-col p-5 border-2 border-black">
    <div class="flex flex-row w-full justify-between gap-5 h-fit">
      <div
        id="account-info"
        class="flex flex-row justify-between p-3 border-2 border-black h-fit grow-[2]"
      >
        <p id="nomor-hp">{Placeholder: No. HP}</p>
        <p id="saldo">{Placeholder: Saldo}</p>
      </div>
      <button
        class="border-2 border-black h-fit grow hover:bg-neutral-100 p-3"
        onclick="handleCreateTransaction()"
      >
        Lakukan transaksi
      </button>
    </div>
    <p class="my-3 text-xl">Riwayat Transaksi</p>
    <main id="scroll-container" class="flex flex-col overflow-y-scroll gap-2">
      <template id="transaction-item">
        <div class="flex flex-row justify-between p-4 border-2 border-black">
          <p>Nominal: <span id="nominal"></span></p>
          <p>Tanggal Transaksi: <span id="tanggal"></span></p>
          <p>Kategori Transaksi: <span id="kategori"></span></p>
        </div>
      </template>
    </main>
  </div>
</div>

{% include 'mypay/transaction-form.html' %}

<script src="{% static 'mypay/js/home.js' %}"></script>
{% endblock content %}
